// app global css

@font-face {
    font-family: TaipeiSansTCBeta-Regular;
    src: url('./TaipeiSansTCBeta-Regular.ttf');
}

html {
  font-size: 13px;
}

body {
  font-family: 'TaipeiSansTCBeta-Regular';
  // font-size: 16px;
  // line-height: 0.7
}

a {
  font-size: 14px;
}

.text-paragraph .text-h6 {
  line-height: 1.75rem;
}